<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" style="margin-left: 100px">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/register"
                  >Register</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employees">Employees</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container" id="app">
      <form id="form" name="form" @submit.prevent="registerAuthentication">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="full_name"
            v-model="full_name"
            aria-describedby="emailHelp"
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" v-model="email" />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            v-model="password"
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <span v-if="!loader">Submit</span>
          <i v-if="loader" class="fa-solid fa-spinner fa-spin"></i>
        </button>
      </form>

      <div class="alert alert-success" v-if="alertSuccessShow" role="alert">
        {{ alertMessage }}
      </div>
      <div class="alert alert-danger" v-if="alertErrorShow" role="alert">
        {{ alertMessage }}
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.16/vue.min.js"
      integrity="sha512-Wx8niGbPNCD87mSuF0sBRytwW2+2ZFr7HwVDF8krCb3egstCc4oQfig+/cfg2OHd82KcUlOYxlSDAqdHqK5TCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.js"
      integrity="sha512-+dJa1RvuE8/HFftifMtr7hqixdEkb/DizfXUZAA0pyZeVdNnyZyKy9RnIWi0JSWUznbCNbaQNn0E6nbtrdL+9g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          full_name: "",
          email: "",
          password: "",
          alertSuccessShow: false,
          alertErrorShow: false,
          alertMessage: "",
          loader: false,
        },
        methods: {
          registerAuthentication() {
            if (!this.full_name || !this.email || !this.password) {
              this.alertErrorShow = true;
              this.alertSuccessShow = false;
              this.alertMessage = "Please fill in all fields!";
              return;
            }

            this.loader = true;

            axios
              .post("http://localhost:5000/register", {
                full_name: this.full_name,
                email: this.email,
                password: this.password,
              })
              .then((response) => {
                this.loader = false;
                this.alertErrorShow = false;
                this.alertSuccessShow = true;
                this.alertMessage = "User registered successfully";

                this.full_name = "";
                this.email = "";
                this.password = "";

                setTimeout(() => {
                  this.alertSuccessShow = false;
                }, 3000);
              })
              .catch((error) => {
                this.loader = false;
                this.alertSuccessShow = false;
                this.alertErrorShow = true;

                this.alertMessage =
                  error.response?.data?.message ||
                  error.message ||
                  "Registration failed";
              });
          },
        },
      });
    </script>
  </body>
</html>
